@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

/* font-family: 'Montserrat Alternates', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* font-family: 'Inter', sans-serif; */

body{
    margin: auto 5rem;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
}

header ul{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    /* text-decoration: none; */
    gap: 10vh;
}

header>ul>li{
   
    list-style: none;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #ebf6f7;
    font-weight: 600;
    color: #333;
}

.one{
    display: flex;
    align-items: center;
}

.enroll-desc{
    width: 60%;
    font-size: 12px;
    color: #333;
}

/* .quote-txt{
    margin-top: 10rem;
} */

.student{
    height: 400px;
    
}

.hero-img{
    width:fit-content;
}

/* caution */
.caution{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes blink{
    to{
        background-colr: red;
    }

    from{
        background-color: yellow;
    }
}

.signs{
    display: flex;
    align-items: center;
    gap: 10px;
}

.signs>p{
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
}

.fa-screwdriver-wrench{
    
    color:cornflowerblue;
}

.two{
    margin-top: 5rem;
}

.box-head{
    text-align:center;
    padding: 20px 30px;
}

.course-cards{
    display: flex;
    gap: 1rem;
    margin: auto 2rem;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid #333;
    border-radius: 9px;
    padding: 20px 30px;
    width: 200px;
    height: 250px;
    
}

.box>p{
    font-size: 12px;
    width:fit-content;
    
}

.icons{
    height: 40px;
    width: 40px;
}